/* The Doghouse NYC */


/*general stuff*/

* {margin: 0; padding: 0; border: 0;}

body {
	font: 12px/17px Georgia, serif;
	color: #000;
	background: #111;
}

body#popup {background: #fff;}
 
.hide {
	display: none;
 }

/*typography and images*/


h1 {
	text-indent: -9999px;
	height: 100px;
	background: #fff url(../images/header.gif) no-repeat top left;
}

h1 a:link, h1 a:visited {
	display: block;
	border: 0;
	height: 88px;
	width: 290px;
	text-decoration: none;
}

h2 {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	padding: 10px 0 5px 0;
	color: #000;
	border-bottom: 1px solid #000;
}

h2 a:link, h2 a:visited {
	border-bottom: none;
}


h3 {
	font: bold 11px verdana, "lucida grande", sans-serif;
	text-transform: uppercase;
	text-indent: 12px;
	margin: 15px 0 0 0;
	color: #333;
	letter-spacing: .1em;
}


p {
	margin: 3px 0 0 0;
	padding: 0;
	text-indent: 12px; 
}


p.first {
	margin: 6px 0 0 0;
	text-indent: 0;
}

p.last {
	margin: 15px 0 0 0;
	text-indent: 0;
}

#main .floatingleft {
	float: left;
margin-top:4px;
margin-right:6px;
margin-bottom:0px;
clear: both;
}


#main .pic {
	width: 305px;
	padding: 10px;
	margin: 10px;
	display: block;
	border: 1px solid #333;
}


#header {
margin: 0px 20 0 0;
}

/*layout*/
#frame {
	width: 640px;
	margin: 0 auto;
	border-top: 5px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	background: #fff;
	padding: 0 0 10px 0;
}

#main {
	float: left;
	width: 335px;
	#min-height: 700px;
	border-right: 1px solid #999;
	padding: 0 20px 0 20px;
	margin: 0;
}



#pic {
	background: #fff;
	width: 600px;
	padding: 20px 20px 0 20px;
}



/*default links*/
a:link, a:visited {
	color: #069;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px dotted #9c6;
}

a:hover {
	color: #9c6;
	border-bottom: 1px solid #9c6;
}